<!DOCTYPE html>
<html ng-app = 'chatBot'>
<head>
<title>Chat Bot</title>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  <!-- Angular Material Dependencies -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.js"></script>
  <link rel="stylesheet" href="css/style.css" />
  <script src="controllers/controller.js"></script>
</head>
<body>
	<div class="container" ng-controller = 'chatBotCtrl'  ng-init="banner=false"  ng-init="chatbox=false">
					<md-card ng-hide="chatbox"  style="width:50%;height:300px;" class="chat">
					<md-card-content>
					<h1>ChatBot</h1>
					<h2>{{message1}}</h2>
					</md-card-content>
					<md-card-footer>
						<md-input-container class="md-block">
        <label>Type Your Message</label>
        <input  id="chatmsg" type="text" name="message"  ng-model="sent_message">
      </md-input-container>
					<md-card-actions layout="row" layout-align="end center">
					<md-button class="md-raised next-bt" ng-click="func4();" value="GO">GO</md-button>
					<md-button class="md-raised next-bt" ng-click="func2();"  value="PREVIEW">PREVIEW</md-button>

		<md-button ng-show = "banner" style="cursor: pointer;" ng-click="func1()">Click here to get the banner.</md-button>
  </md-card-actions>
  </md-card-footer>
  </md-card><br>
		<div ng-show ="chatbox" class="containers">
			<img src="images/header.jpg" width={{header_width}} height={{header_height}}><br>
			<img src="images/body.jpg" width={{body_width}} height={{body_height}}><br>
			<img src="images/footer.jpg" width={{footer_width}} height={{footer_height}}>
		</div>
		<div ng-show="preview" class="containers pre">
			<!-- <p>{{header_width1}}</p>
			<p>{{body_width1}}</p><p>{{footer_width1}}</p><p>{{body_height1}}</p><p>{{footer_height1}}</p><p>{{header_height1}}</p> -->
			<img src="images/header.jpg" width={{header_width1}} height={{header_height1}}>
			<br>
			<img src="images/body.jpg" width={{body_width1}} height={{body_height1}}>
			<br>
			<img src="images/footer.jpg" width={{footer_width1}} height={{footer_height1}}>
		</div>
	</div>

</body>
</html>
